html, body, #root {
  height: 100%;
  margin: 0;  
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 55px;
  top: 0;
  background-color: #F55A5A;
  z-index: 100;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px 10px 0 0; 
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > span{
  padding-left: 5px;
  font-size: larger;
  font-weight: 500;
}

header > img {
  width: 24px;
}